.main {
  margin-top: 60vh;
  margin-bottom: 100vh;
  background-color: rgb(225, 235, 244);
}

.hi {
  font-size: 80px;
  font-weight: 900;
  color: #80dce9;
  text-align: center;
  margin-top: 30vh;
}

.hj {
  font-size: 80px;
  font-weight: 900;
  color: #55ff58;
  text-align: center;

  margin-bottom: 50vh;
}
